* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#main-section{
  border: 1px solid red;
  padding: 20px;
}
.list{
  border: 1px solid red;
  padding: 20px;
}
.list li{
 margin-left: 40px;text-decoration: none;
}

.links a{
  text-decoration: none;
}
.links a:hover{
  cursor: default;
}
span{
  display: block;
}
.other_divs{
  width: 8rem;
  height: 8rem;
  border: 1px solid blue;
  display: inline;
}
.finnish_btn{
  transform: rotate(90deg) scale(200%);
}
.heading{
  text-align: center;
  border: 1px dashed blue;
}

html {
  min-height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

table,
td {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

textarea {
  resize: vertical;
}
